{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <p id="login">
        Seja bem vindo ao TEditor!
    </p>
    {% if user.is_authenticated %}
        <p id="login">
            <a href="{% url 'text-list' %}">Listar Textos</a>
        </p>
    {% else %}
        <p id="login">
            <a href="{% url 'login' %}">Entrar</a>
        </p>
        <p id="login">
            ou
        </p>
        <p id="login">
            Se você ainda não posssui uma conta, crie a sua.
            <a href="{% url 'signup' %}">Cadastre-se</a>.
        </p>
    {% endif %}
{% endblock %}