{% extends 'base.html' %}

{% block title %} Novo Texto {% endblock %}

{% block content %}
    
    <form action="" method="POST" autocomplete="off">
        <div id="body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
            </div>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>
{% endblock %}