{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Novo Texto {% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <form action="{% url 'text-create' %}" method="POST" class="form-inline">
                {% csrf_token %}
                {{ form.media }}
                <p>
                    {% render_field form.title placeholder=form.title.label %}
                </p>
                <p>
                    {{ form.content }}
                </p>
                <a href="{% url 'text-list' %}" class="btn btn-secondary">Voltar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
{% endblock %}