{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Entrar {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card">
                <div class="card-body">
                    <h4 class="card-title text-center">Login</h4>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" id="" value="{{ next }}">
                        <p>
                            {% render_field form.username class="form-control" placeholder=form.username.label %}
                        </p>
                        <p>
                            {% render_field form.password class="form-control" placeholder=form.password.label %}
                        </p>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                    <p class="change-form-p">Criar conta? <a href="{% url 'signup' %}">Cadastrar</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}