{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Cadastrar {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card">
                <div class="card-body">
                    <h4 class="card-title text-center">Cadastrar</h4>
                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" id="" value="{{ next }}">

                        <p>
                            {% render_field form.username class="form-control" placeholder=form.username.label %}
                        </p>
                        <p>
                            {% render_field form.password1 class="form-control" placeholder=form.password1.label %}
                        </p>
                        <p>
                            {% render_field form.password2 class="form-control" placeholder=form.password2.label %}
                        </p>

                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </form>
                    <p>Já possui uma conta? <a href="{% url 'login' %}">Entrar</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}