#id_title{
    width: 837px;
    margin-left: 195px;
}

a{
    text-decoration: none;
}

#detail, #login{
    text-align: center;
}

p #voltar{
    margin-left: 40px;
    margin-right: 5px;
}

p #editar{
    margin-right: 5px;
}

p #download{
    float: right;
    margin-right: 50px;
}
